tensorflow>=2.19.0,<3.0.0
pandas>=2.3.0,<3.0.0
mlflow>=3.1.0,<4.0.0
pymysql>=1.1.1,<2.0.0
python-dotenv>=1.1.0,<2.0.0
psycopg2-binary>=2.9.10,<3.0.0
boto3>=1.38.36,<2.0.0
apache-airflow-providers-mysql>=6.3.0,<7.0.0
apache-airflow-providers-amazon>=9.8.0,<10.0.0
scikit-learn>=1.7.0,<2.0.0